body {
  background: url('/images/bg.gif');
  width:100%;
  position:relative;
  font-family: Georgia, Times, serif;
}
hr {
  border:0;
  height:0;
  width:0;
  clear:both;
  margin:0;
  padding:0;
}
@media screen and (min-device-width: 750px)  {
  #header {
    margin:auto;
    height:305px;
    width:100%;
    background: url('/images/header_bg.gif') 50% -109px repeat-x;
  }
  #header .bg {
    position:absolute;
    top:0;
    display:block;
    width:100%;
    text-align:center;
  }
  #header .logo {
    position:absolute;
    top:20px;
    left:0;
  }
  article {
    width:960px;
    margin:20px auto;
  }
  article header {
    position:absolute;
    width:960px;
    top:60px;
    margin:auto;
    text-align:center;
  }
  article header span {
    
    /*width:517px;
        height:111px;*/
    width:744px;
    height:61px;
    display:block;
    background: url('/images/goes_southwest_large.gif') no-repeat;
    overflow:hidden;
    text-indent:-10000em;
    margin:55px auto 10px;
  }
  article header #mxm {
    position:absolute;
    top:0;
    left:70px;
    width:260px;
    height:55px;
    background: url('/images/logo_large.png') no-repeat;
    margin:0;
  }
  #strapline {
    width:719px;
    height:34px;
    overflow:hidden;
    text-indent:-1000em;
    background: url('/images/strapline.png') no-repeat;
    margin:auto;
  }
  #london_time {
    float:left;
  }
  #local_time {
    float:right;
  }
  #london_time span,
  #local_time span {
    display:block;
    text-indent:-1000em;
    overflow:hidden;
    margin:10px 0;
  }
  #london_time span {
    width:130px;
    height:17px;
    float:left;
    background: url('/images/london_time.png') no-repeat;
  }
  #local_time span {
    width:101px;
    height:17px;
    float:right;
    background: url('/images/local_time.png') no-repeat;
  }
  time {
    color:#ebd40f;
    min-width:65px;
    display:inline-block;
    text-align:left;
  }
}
#header nav {
  position:relative;
  margin: auto;
  padding:20px 0 40px;
  width:960px;
  height:13px;
  z-index:10;
}
#header nav ul {
  float:right;
  text-transform: uppercase;
  font-size:12px;
}
#header nav li {
  float:left;
  padding:10px 9px 10px 10px;
  background: url('/images/nav_li.gif') no-repeat 100% 50%;
}
#header nav li:last-child {
  padding-right:0;
  background:none;
  line-height: 13px;
}
#header nav li a {
  line-height: 13px;
  display:inline-block;
  color:#fff;
  text-decoration:none;
}
#header nav li span {
  line-height: 13px;
  display:inline-block;
  background:red;
  padding:0 3px;
}

#updates {
  overflow:hidden;
  margin-right:-10px;
}
article {
  padding-bottom:100px;
}
#load_more {
  display:none;
  background: url('/images/load_more.gif');
  text-align:center;
  overflow:hidden;
  width:227px;
  height:36px;
  line-height:36px;
  margin:10px auto;
}
#load_new {
  width:100%;
  background: url('/images/load_new.png') repeat-x 50% 0;
  position:fixed;
  bottom:-73px;
  left:0;
  z-index:20;
  text-align:center;
  overflow:hidden;
}
#new_text {
  position:relative;
  display:block;
  width:480px;
  height:73px;
  overflow:hidden;
  line-height:73px;
  background: url('/images/load_new_text.png') no-repeat 0 50%;
  margin:0 auto;
  color:#fff;
  font-weight:bold;
  font-size:15px;
  text-indent:35px;
  cursor:pointer;
}
#new_count {
  position:absolute;
  font-size:12px;
  top:15px;
  left:34px;
  display:block;
  text-indent:0;
  width:35px;
  height:21px;
  line-height:21px;
}

.update {
  width:312px;
  height:310px;
  float:left;
  margin-right:10px;
  margin-bottom:10px;
  position:relative;
}
.update .overlay {
  width:302px;
  height:302px;
  position:absolute;
  top:4px;
  left:6px;
  background: url('/images/mask1.png');
  z-index:11;
}
.update:nth-child(4n+1) .overlay {
  background: url('/images/mask2.png');
}
.update:nth-child(4n+2) .overlay {
  background: url('/images/mask3.png');
}
.update:nth-child(4n+3) .overlay {
  background: url('/images/mask4.png');
}
.update .placeholder,
.update ul {
  width:288px;
  height:288px;
  position:absolute;
  display:block;
  top:10px;
  left:13px;
  z-index:9;
  background: rgba(55,55,55,.5);
  -moz-border-radius:14px;
  -webkit-border-radius:14px;
  overflow:hidden;
}
.update .placeholder img {
  display:block;
  width:312px;
  margin:-12px 0 0 -12px;
  -moz-border-radius:14px;
  -webkit-border-radius:14px;
}
.update .avatar {
  width:84px;
  height:87px;
  display:block;
  position:absolute;
  right:0px;
  z-index:12;
}
.update cite {
  position:absolute;
  bottom:-5px;
  left:0;
  width:100%;
  height:34px;
  text-align:center;
  z-index:14;
  display:block;
}
.update ul {
  display:none;
  width:291px;
  height:289px;
  left:12px;
  top:9px;
  color:#fff;
  background: #000;
  background: -moz-radial-gradient(50% 50%, farthest-side, rgba(0,0,0,.6), rgba(0,0,0,.9));
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 150, from(rgba(0,0,0,.6)), to(rgba(0,0,0,.9)));
  /*-webkit-transition: opacity .4s linear;*/
}
.update .latest {
  left: -20px;
  position: absolute;
  top: -27px;
  /*-webkit-transition: opacity .4s linear;*/
}
.update li {
  text-align:center;
  overflow:hidden;
  min-height:30px;
  margin: 0 30px 5px;
}
.update .caption {
  font-size: 20px;
  font-weight:bold;
  margin-top:90px;
  line-height:1.2;
}
.update ul span {
  display:inline-block;
  vertical-align:middle;

}
.update li img {
  vertical-align:middle;
  margin-right:5px;
}
.update .location span {

}

.update.hollergram ul {
  display:none !important;
}
.update.blog .overlay {
  background: url('/images/mask_blog.gif') no-repeat -5px 0;
}
.update.hollergram .placeholder,
.update.hollergram .placeholder img {
  width:267px;
  height:267px;
}
.update.hollergram .placeholder {
  margin:10px 13px;
}
.update.hollergram .placeholder img {
  margin:0;
  -moz-border-radius:0;
  -webkit-border-radius:0;
}
.update.hollergram .overlay {
  margin:5px 0 0 0;
  width:310px;
  background: url('/images/mask_hollergram.png') no-repeat;
}
.update.hollergram .download {
  position:absolute;
  display:block;
  overflow:hidden;
  text-indent:-1000em;
  width:165px;
  height:35px;
  bottom:-5px;
  left:70px;
  background: url('/images/download_app.png') no-repeat;
  z-index:20;
}
.update.hollergram cite,
.update.hollergram .avatar {
  display:none;
}


.iPad.portrait #header {
  width:100%;
  height:320px;
}
.iPad.portrait #header nav,
.iPad.portrait article,
.iPad.portrait article header,
.iPad.portrait .bg img {
  width:720px;
}
.iPad.portrait .bg {
  padding-top:30px;
}
.iPad.portrait article header span {
  margin-top:-20px;
  margin-bottom:10px;
}
.iPad.portrait article #mxm {
  top:-60px;
  left:20px;
}
.iPad.portrait #load_new {
  width:100%;
}
.iPad.portrait #updates {
  width:645px;
  margin:0 auto;
}

.iDevice #load_new {
  background: url('/images/load_new_i.png') no-repeat;
  position:fixed;
  top:20px;
  left: -94px;
  width:94px;
  height:87px;
  z-index:20;
  line-height:28px !important;
}
.iDevice #new_text {
  line-height:28px;
  width:94px;
  height:87px;
  overflow:hidden;
  text-indent:-10000em;
  background:none;
}
.iDevice #new_count {
  display:block;
  text-indent:0;
  color:#fff;
  top:17px;
  right:17px;
  left:auto;
  width:28px;
  height:28px;
  line-height:28px !important;
  text-align:center;
  font-size:15px;
}

@media screen and (max-device-width: 320px)  {
  #header, article, #header .bg, #load_new {
    width:100%;
  }
  #header {
    height:230px
  }
  #header .bg {
    overflow:hidden;
    height:230px !important;
    position:absolute;
    top:0;
    left:0;
  }
  #header .bg img {
    position:absolute;
    bottom:0;
    left:-100px;
    width:700px;
  }
  #header nav {
    width:100%;
    position:absolute;
    top:180px;
    height:30px;
    padding:0;
    overflow:hidden;
  }
  #header nav ul {
    float:none;
    text-align:center;
  }
  .portrait #header nav ul {
    margin:0 0 0 15px;
  }
  #header nav li {
    display:inline-block;
    padding:10px 6px;
  }
  #header nav a {
    color:#fff;
  }
  .portrait nav li:nth-child(2), .portrait nav li:nth-child(3)/*, .portrait nav li:nth-child(5)*/ {
    display:none !important;
  }
  #strapline {
    font-size:13px;
  }
  #time { display:none; }
  article header {
    position:relative;
    top:-200px;
    color:#fff;
    text-align:center;
  }
  h1 {
    width:264px;
    margin: auto;
  }
  article header span {
    display:block;
    width:264px;
    height:58px;
    text-indent:-1000em;
    overflow:hidden;
    background: url('/images/mini_goes_southwest.png') no-repeat 50% 0;
    position:relative;
    top:-15px;
  }
  article header #mxm {
    background: url('/images/mxm.png') no-repeat;
    width:67px;
    height:29px;
    top:0;
    left:-10px;
  }
  #strapline {
    margin-bottom:10px;
  }
  #instagram {
    color:#ebd40f;
    text-decoration:none;
    font-size:14px;
  }
  #instagram span {
    position:static;
    width:83px;
    height:30px;
    display:inline-block;
    vertical-align:middle;
    background: url('/images/mini_instagram.png') no-repeat;
  }
  #updates {
    width:320px;
    margin:0 auto;
    position:relative;
    margin-top:-120px;
    overflow:hidden;
  }
}

