/*

How to get the access token:

1. With your client ID and app URI (as registered):

    curl -I 'https://api.instagram.com/oauth/authorize/?client_id=_CLIENT_ID_&redirect_uri=_URI_&response_type=token'

2. Visit the URL in the Location header.

3. Copy the access_token parameter from the location field.

How to get user IDs:

curl 'https://api.instagram.com/v1/users/search?client_id=_CLIENT_ID_&q=_NAME_'

*/

exports.clientId     = TODO;
exports.clientSecret = TODO;
exports.accessToken  = TODO;
exports.port         = 4500;
exports.pollInterval = {
  normal: 60 * 1000,
  error:  5 * 60 * 1000
}
exports.userIds      = [TODO];
