/*

How to get the access token:

1. With your client ID and app URI (as registered):

    curl -I 'https://api.instagram.com/oauth/authorize/?client_id=_CLIENT_ID_&redirect_uri=_URI_&response_type=token'

2. Visit the URL in the Location header.

3. Copy the access_token parameter from the location field.

How to get user IDs:

curl 'https://api.instagram.com/v1/users/search?client_id=_CLIENT_ID_&q=_NAME_'

*/

exports.config = {
  clientId: TODO,
  clientSecret: TODO,
  accessToken : TODO,
  pollInterval: {
    normal: 60 * 1000,
    error: 5 * 60 * 1000
  },
  atom: {
    url: 'http://madebymany.com/blog.atom',
    pollInterval: 60 * 1000
  },
  port: 4500,
  database: {
    name: 'sxswagram',
    hostname: 'localhost',
    port: 27017
  },
  chunkSize: 12,
  userIds: [
     868785, // scandaloust
    1366328, // malbonster
    1188098, // stueccles
    1178512, // juxtapozed
    1671424, // crashtherocks
     824364, // saradotdub
     152929, // juzmcmuz
    2192507, // ninjabiscuit5
    1616237, // conordelahunty
    1288536  // ohrworm
  ]
};
